<section class="hero">
  <img src="https://images.pexels.com/photos/137618/pexels-photo-137618.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="College Image (Main Building / Head Office)">
</section>

<section class="about card">
  <h2>About ACET</h2>
  <p>History / Correspondent / Principal / Department HOD / Performance</p>
</section>

<section class="why-awards">
  <div class="card">
      <h3>Why ACET?</h3>
      <p>
        Our college is one of the foremost multi professional research-led 
        Institutions is internationally
        recognized leader in professional 
        and career-oriented education.
        It provides an integral, 
        inter-disciplinary education - a unique intersection 
        between theory and practice, passion and reason.
      </p>
  </div>
  <div class="card">
      <h3>Vision</h3>
      <p>To be a centre of excellence for development and 
        dissemination of knowledge in Applied science, Technology,
    Engineering and Management for the Nation and beyond.</p>
  </div>
  <div class="card">
    <h3>Mission</h3>
    <p>We are committed to value based Education,
      Research and Consultancy in Engineering and 
     Management and to bring out technically competent,
       ethically strong and quality professionals to
       keep our Nation ahead in the competitive knowledge 
       intensive world.</p>
  </div>
</section>

<section class="departments card">
  <h2>Departments</h2>
  <p>
    Information Technology
    Computer Science and Engineering
    Mechanical Engineering
    Mechatronics Engineering 
    Electronics and Instrumentation Engineering
    Electrical and Electronial Engineering
    Automobile Engineering
    Civil Engineering
    Food Technology
    Chemical Engineering
    AIML
    Computer Science and Design
  </p>
</section>

<section class="research card">
  <h2>Research & Development</h2>
  <p>
    The Research and Development Cell of  College is established to promote research activities. 
    The Cell will monitor and administer Research programs offered by Anna University, Chennai.
     Research and Development Cell will monitor and evaluate the Candidates admitted for Research 
     Programmes in all the departments of the Institution.
    The college has 20 research centres in which faculty and students from various institutions 
    besides the faculty and students from this college, who are interested in enhancing their qualifications
     in their discipline. The details of the infrastructure, publication and related research activities 
     are presented in the respective disciplines.
  </p>
</section>

<section class="placements card">
  <h2>Placements</h2>
  <p>The placement cell has been functioning in our campus since 1998.
     Placement Cell serves as a bridge between the academic
     world and the professional realm,
     facilitating the transition of students from the classroom to the workplace.
    Placement Cells have evolved significantly over the years and moved beyond merely 
    organizing campus interviews to offering 
    comprehensive career development services. The integration of technology has streamlined 
    the job search process, allowing students to access job listings and resources online.
    Furthermore, Placement Cells now recognize the importance of holistic development.
     We focus on nurturing not onlytechnical skills but also interpersonal skills,
      emotional intelligence, and adaptability, as these qualities are highly valued by employers.</p>
</section>
