

<h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align:center"><strong>ADHYANTHA COLLEGE OF TECHNOLOGY</strong></h1>
<h3 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align:center"><strong>Explore the Engineering with ACET</strong></h3>
<br><br><br>
<header id="home">
    <div class="hero-text">
        <h1 style="color: black;"></h1>
        <p style="color: black">Building a brighter future together</p> 
    </div>
    
  </header>
  <div class="admission-vacancies">
    <a href="Reg">Click Here to Register</a>
    <a href="Track">Track Registered Application</a>
</div>

<section id="about">
    <h2>About Us</h2>
    <p>Our university has been dedicated to providing quality education for over 50 years. Join us in our mission to educate and inspire future leaders.</p>
</section>

<section id="statistics">
  <h2>Statistics</h2>
  <p>University was founded on the principle that by pursuing big ideas and sharing what we learn, we make the world a better place. For more than 135 years,</p><br/><p> we haven’t strayed from that vision.</p>
  <div class="statistics-container">
    <div class="stat">
      <h3>8120</h3>
      <p>Counselling Code</p>
  </div>
      <div class="stat">
          <h3>B.E/B.Tech</h3>
          <p>4 years</p>
      </div>
      <div class="stat">
        <h3>M.E</h3>
        <p>2 years</p>
    </div>
      <div class="stat">
          <h3>27 years</h3>
          <p>in Educations</p>
      </div>
      <div class="stat">
          <h3>67</h3>
          <p>Student Campus Recruiters</p>
      </div>
      <div class="stat">
          <h3>587 offers</h3>
          <p>2022-2023</p>
      </div>
      <div class="stat">
        <h3>9876543210</h3>
        <p>Phone</p>
    </div>
  </div>
</section>
<section id="programs">
    <h2>Our Programs</h2>
    <div class="program-card">
        <h3>Undergraduate Programs</h3>
        <p>Explore our diverse range of undergraduate programs.</p>
    </div>
    <div class="program-card">
        <h3>Graduate Programs</h3>
        <p>Pursue advanced studies with our graduate programs.</p>
    </div>
    <div class="program-card">
        <h3>Online Courses</h3>
        <p>Flexible online courses to fit your schedule.</p>
    </div>
</section>