
<header class = "h">
    
    <nav class="n">
        <a href="StaffHome">Staff Home Page</a>
        <a href="staffattend">Staff Attendence</a>
        <a href="staff">Department Toppers</a>
        <a href="#">Logout</a>
    </nav>
</header>


<div>
    <label for="department">DEPARTMENT</label>
    <select id="department" name="department">
      <option value="civil">Civil</option>
      <option value="cse">CSE</option>
      <option value="ece">ECE</option>
    </select>
</div>
    <form>
        <div class="form-group">
            <label for="date">Date</label>
            <div class="date-inputs">
                <input type="number" id="day" name="day" placeholder="Day">
                <input type="number" id="month" name="month" placeholder="Month">
                <input type="number" id="year" name="year" placeholder="Year">
            </div>
        </div>
    <form>
    <div class="form-group">
        <label for="reg-number">Registration Number</label>
        <input type="text" id="reg-number" name="reg-number">
    </div>
  
    <div class="form-group">
        <label for="mark">Mark:</label>
        <input type="text" id="mark" name="mark">
    </div>
  
    <div class="container">
          <button>Submit</button>
      </div>
</form>

  
  

  

  

